<title> Surat Keterangan NISN</title>
<style type="text/css">
    .judul{
        font-size: 10pt;
        margin: auto;
        text-align: center;
        color: #FFF;
        background: #000;
        font-weight: bold;
    }
    .utama{
        padding-top :0cm;
    }

    .logo{
        font-size: 15pt;
        font-family: 'Bookman Old Style';
    }
    .sekolah{
        font-size: 15pt;
        font-family: Britannic;
    }
    .nis{
        font-size: 11pt;
        font-family: Times New Roman;
    }
    .nopokok{
        font-size: 11pt;
        font-family: Times New Roman;
    }
    .alamat{
        font-size: 10pt;
        font-family: Times New Roman;
    }
    .judul_header{
        font-size: 10pt;
    }

    .nama_siswa{
        font-size: 10pt;
    }

    .lulus{
        font-size: 18pt;
        font-family: Times New Roman;
    }

    .isi{
        font-size: 12pt;
        font-family: Times New Roman;
    }
    
    .rainbow {
	  position: relative;
	  z-index: 0;
	  border-radius: 10px;
	  overflow: hidden;
	  padding: 2rem;
	}
 
	.rainbow::before {
	  content: '';
	  position: absolute;
	  z-index: -2;
	  left: -50%;
	  top: -50%;
	  width: 200%;
	  height: 200%;
	  background-color: #399953;
	  background-repeat: no-repeat;
	  background-size: 50% 50%, 50% 50%;
	  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
	  background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
	  -webkit-animation: rotate 4s linear infinite;
			  animation: rotate 4s linear infinite;
	}
 
	.rainbow::after {
	  content: '';
	  position: absolute;
	  z-index: -1;
	  left: 10px;
	  top: 10px;
	  width: calc(100% - 20px);
	  height: calc(100% - 20px);
	  background: white;
	  border-radius: 5px;
	}
        hr.garis {
            height:2px;
            border-top:3px solid black;
            border-bottom:1px solid black;
        }
</style>
<!--div class="rainbow"-->
    <table width="100%" border="0">
        <tr>
            <td rowspan="4" valign="middle" align="center" width="25%"> <img src="http://sis.putrabatam.sch.id/themes/dashboard/images/logo_baru.png" alt="" width="145" height="75"/> </td>
            <td align="center" width="75%" class="logo"><b>SEKOLAH MENENGAH PERTAMA PUTRA BATAM</td>
            <td rowspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td align="center" class="alamat">Jl. Letjend R. Soeprato, Komplek Muka Kuning Indah II, Batu Aji, Kota Batam,</td>
        </tr>
        <tr>
            <td align="center" class="alamat">Kepri-Indonesia Hp. 0822-8411-6455 <br/> Website: www.putrabatam.sch.id dan Email: info@putrabatam.sch.id</td>
        </tr>
    </table>
    <hr class="garis">
    <br><br>
    
    <table width="100%" border="0">
        <tr>
            <td align="center" class="isi"><b>SURAT KETERANGAN
                                            </b>
                
                <br>No : 172/II.PB.1/B.2/XII/2025<br><br><br>
        </tr>
        
        <!--tr>
            <td align="center" class="isi"><br><br><br><b>SEKOLAH MENENGAH PERTAMA <br/>TAHUN PELAJARAN 2025/2026</b><br><br></td>
        </tr-->
        
        <tr>
            <td align="justify" class="isi"><br>
                Yang bertanda tangan di bawah ini, Kepala SMP Putra Batam menerangkan bahwa:
            </td>
        </tr>
    </table>
    <br>
    
    <table width="100%" border="0" class="isi">
        <tr>
            <td width="40%">Nama</td>
            <td>:</td>
            <td><b>Adeline Tiffanie Saragi</b></td>
        </tr>
        <tr>
            <td>Tempat, Tanggal Lahir</td>
            <td>:</td>
            <td>Batam, 21 Juli 2013</td>
        </tr>
        <tr>
            <td>Jenis Kelamin</td>
            <td>:</td>
            <td>Perempuan</td>
        </tr>
        <tr>
            <td>NIS</td>
            <td>:</td>
            <td>252024</td>
        </tr>
        <!--<tr>
            <td>Asal Sekolah</td>
            <td>:</td>
            <td>SMP Putra Batam</td>
        </tr>
        tr>
            <td>nomor peserta Ujian Nasional</td>
            <td>:</td>
            <td></td>
        </tr>-->
        <tr>
            <td>Alamat</td>
            <td>:</td>
            <td>Graha Nusa Batam Blok H No 12a</td>
        </tr>
    </table>
    <br>
    
    
  
                 
    
    
    <table width="100%" border="0">
        <!--tr>
            <td align="center" class="lulus"><u><b>LULUS</b></u></td>
        </tr-->
        <tr>
            <td class="isi" style="text-align:justify"><br>
adalah benar siswa tersebut di atas siswa aktif SMP Putra Batam Tahun Pelajaran  2025/2026 dengan nilai yang memiliki Nomor Induk Siswa Nasional (NISN) .    
            <br/>
            <br/>
            Demikian surat keterangan ini kami buat dengan sebenarnya untuk dapat dipergunakan
sebagai salah satu persyaratan mendaftar masuk sekolah.

            </td>
        </tr>
    </table>
    <br>
    
    
    <br><br><br>
    
    <table width="100%" border="0">
        <tr>
            <td width="33%" align="center" class="isi"></td>
            <td width="33%" align="center" class="isi"></td>
          
            <td width="33%" class="isi"><b>Batam,               
            <br/>Kepala SMP Putra Batam</b></td>
        </tr>
        <tr>
            <td width="33%" align="center" class="isi"></td>
            <td width="33%" align="center" class="isi"></td>
            <td width="33%" class="isi"><br/><br/><br/><br/><br/>
                <b><u>Kiki Sumanti, S.SI., M.M.</u></b>
            </td>
        </tr>
    </table>
    <br>
<!--/div-->
